* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
}
.main-header {
&__left-box {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  &__current-group {
    font-size: 20px;
    color: #333;
    margin-top: 35px;
  }
  &__member-list {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: #999999;
  }
}
  &__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px $clearBule;
    color: $clearBule;
    text-decoration: none;
    }
}

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 10px 20px 40px;
  &__message {
    position: relative;
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    &__image {
      position: absolute;
      font-size: 1.3rem;
      line-height: 50px;
      right: 170px;
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-right: 30px;
    padding: 0 30px;
    cursor: pointer;
  }
}